.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/bg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-overlay-form {
  /* background-color: rgba(151, 187, 183, 0.6); */
  /* background-image: linear-gradient(45deg, #256c74, #b2e1e6, #fefbd8); */
  border-radius: 5%;
  padding: 3%;
  /* background-color: rgb(68, 95, 115); */
  border-radius: 5%;
  opacity: 0.8;
  color: black;
  font-size: small;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color:black !important;
}

.book {
  background-color: darksalmon;
}

.error {
  color: red;
}

.login {
  padding: 10%;
  background-image: linear-gradient(
    45deg,
    #808080,
    #a4e2ab,
    #85cac8,
    transparent
  );
  margin: -24px -105px -48px -105px;
}

button{
  background-color: green;
  color: #f1f1f1;
  font-size: 12px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
/* input{
  border: 2px solid gray;
  margin-bottom:10px ;
  
  border-radius: 5px;
  text-align: center;
  padding: 8px 12px;
} */